.floating-icon {
    position: fixed;  /* fixed për të qëndruar mbi scroll */
    font-size: 3rem;
    opacity: 0.15;
    animation: float linear infinite;
    color: black;
    pointer-events: none; /* mos i pengon klikimet mbi produktet */
    z-index: 10; /* mbi produktet (siguro që produktet kanë z-index < 10) */
}

@keyframes float {
    from {
        transform: translateY(-100px) rotate(0deg);
    }
    to {
        transform: translateY(120vh) rotate(360deg);
    }
}
